/* 아코디언 */
.krds-accordion {
  padding: 4px 0;
  border-top: 0.1rem solid #cdd1d5;
  border-bottom: 0.1rem solid #cdd1d5;
}
.krds-accordion .accordion-item {
  padding: 4px 0;
  transition: 0.4s ease-in-out;
}
.krds-accordion .accordion-item .btn-accordion {
  position: relative;
  width: 100%;
  padding: 24px 64px 24px 24px;
  background-color: #ffffff00;
  border-radius: 10px;
  font-size: 17px;
  color: #1e2124;
  font-weight: 700;
  text-align: left;
}
@media (max-width: 767px) {
  .krds-accordion .accordion-item .btn-accordion {
    font-size: 17px;
  }
}
.krds-accordion .accordion-item .btn-accordion:hover {
  background-color: #eef2f7;
}
.krds-accordion .accordion-item .btn-accordion:active {
  background-color: #d6e0eb;
}
.krds-accordion .accordion-item .btn-accordion::after {
  position: absolute;
  top: 24px;
  right: 24px;
  content: "";
  display: inline-flex;
  width: 24px;
  height: 24px;
  background-color: #1e2124;
  forced-color-adjust: none;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/ico_angle.svg);
  mask-image: url(../../img/component/icon/ico_angle.svg);
  background-color: #33363d;
  transition: 0.4s ease-in-out;
  transform: rotate(0deg);
}
.krds-accordion .accordion-item .btn-accordion.active {
  background-color: #eef2f7;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #052b57;
}
.krds-accordion .accordion-item .btn-accordion.active:focus {
  border-radius: 10px;
}
.krds-accordion .accordion-item .btn-accordion.active::after {
  transform: rotate(180deg);
}
.krds-accordion .accordion-item .accordion-collapse {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  visibility: hidden;
}
.krds-accordion .accordion-item .accordion-body {
  padding: 0 24px 24px;
  background-color: #ffffff00;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.krds-accordion .accordion-item.active .accordion-collapse {
  height: auto;
  max-height: 100vh;
  transition: all 1.5s ease-in-out;
  visibility: visible;
}
.krds-accordion .accordion-item.active .accordion-body {
  background-color: #eef2f7;
}
.krds-accordion.type-line {
  padding: 0;
  border-top: none;
}
.krds-accordion.type-line .accordion-item {
  border-top: 0.1rem solid #cdd1d5;
  border-radius: 0;
}
.krds-accordion.type-line .accordion-item .btn-accordion {
  padding: var(--krds-accordion--line-padding) var(--krds-accordion--line-button-padding-right) var(--krds-accordion--line-padding) 0;
}
.krds-accordion.type-line .accordion-item .btn-accordion::after {
  top: var(--krds-accordion--line-padding);
  right: 0;
}
.krds-accordion.type-line .accordion-item .btn-accordion.active {
  background: none;
}
.krds-accordion.type-line .accordion-item .accordion-body {
  padding: 0 0 24px;
}
.krds-accordion.type-line .accordion-item.active {
  background: none;
  border-top-color: var(--krds-accordion--color-divider-open);
}
.krds-accordion.type-line .accordion-item.active .accordion-body {
  background: none;
}

@media (max-width: 767px) {
  .krds-accordion {
    --krds-accordion--padding: var(--krds-padding-6);
    --krds-accordion--line-padding: var(--krds-padding-5);
    --krds-accordion--button-icon-size: var(--krds-icon--size-medium);
  }
}