
/* 배지 */
.krds-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.krds-badge.outline-primary {
  border-width: var(--krds-light-border-width-variable-regular);
  border-style: solid;
  border-color: var(--krds-badge--color-primary-element);
  color: var(--krds-badge--color-primary-text);
}
.krds-badge.bg-primary {
  background-color: var(--krds-badge--color-primary-element);
  color: var(--krds-badge--color-text-basic);
}
.krds-badge.bg-light-primary {
  background-color: var(--krds-badge--color-primary-element-lighter);
  color: var(--krds-badge--color-primary-text);
}
.krds-badge.outline-secondary {
  border-width: var(--krds-light-border-width-variable-regular);
  border-style: solid;
  border-color: var(--krds-badge--light-color-secondary-element);
  color: var(--krds-badge--color-secondary-text);
}
.krds-badge.bg-secondary {
  background-color: var(--krds-badge--color-secondary-element);
  color: var(--krds-badge--color-text-basic);
}
.krds-badge.bg-light-secondary {
  background-color: var(--krds-badge--color-secondary-element-lighter);
  color: var(--krds-badge--color-secondary-text);
}
.krds-badge.outline-gray {
  border-width: var(--krds-light-border-width-variable-regular);
  border-style: solid;
  border-color: var(--krds-badge--light-color-gray-element);
  color: var(--krds-badge--color-gray-text);
}
.krds-badge.bg-gray {
  background-color: var(--krds-badge--color-gray-element);
  color: var(--krds-badge--color-text-basic);
}
.krds-badge.bg-light-gray {
  background-color: var(--krds-badge--color-gray-element-lighter);
  color: var(--krds-badge--color-gray-text);
}
.krds-badge.outline-point {
  border-width: var(--krds-light-border-width-variable-regular);
  border-style: solid;
  border-color: var(--krds-badge--light-color-point-element);
  color: var(--krds-badge--color-point-text);
}
.krds-badge.bg-point {
  background-color: var(--krds-badge--color-point-element);
  color: var(--krds-badge--color-text-basic);
}
.krds-badge.bg-light-point {
  background-color: var(--krds-badge--color-point-element-lighter);
  color: var(--krds-badge--color-point-text);
}
.krds-badge.outline-danger {
  border-width: var(--krds-light-border-width-variable-regular);
  border-style: solid;
  border-color: var(--krds-badge--light-color-danger-element);
  color: var(--krds-badge--color-danger-text);
}
.krds-badge.bg-danger {
  background-color: var(--krds-badge--color-danger-element);
  color: var(--krds-badge--color-text-basic);
}
.krds-badge.bg-light-danger {
  background-color: var(--krds-badge--color-danger-element-lighter);
  color: var(--krds-badge--color-danger-text);
}
.krds-badge.outline-warning {
  border-width: var(--krds-light-border-width-variable-regular);
  border-style: solid;
  border-color: var(--krds-badge--light-color-warning-element);
  color: var(--krds-badge--color-warning-text);
}
.krds-badge.bg-warning {
  background-color: var(--krds-badge--color-warning-element);
  color: var(--krds-badge--color-text-basic);
}
.krds-badge.bg-light-warning {
  background-color: var(--krds-badge--color-warning-element-lighter);
  color: var(--krds-badge--color-warning-text);
}
.krds-badge.outline-success {
  border-width: var(--krds-light-border-width-variable-regular);
  border-style: solid;
  border-color: var(--krds-badge--light-color-success-element);
  color: var(--krds-badge--color-success-text);
}
.krds-badge.bg-success {
  background-color: var(--krds-badge--color-success-element);
  color: var(--krds-badge--color-text-basic);
}
.krds-badge.bg-light-success {
  background-color: var(--krds-badge--color-success-element-lighter);
  color: var(--krds-badge--color-success-text);
}
.krds-badge.outline-information {
  border-width: var(--krds-light-border-width-variable-regular);
  border-style: solid;
  border-color: var(--krds-badge--light-color-information-element);
  color: var(--krds-badge--color-information-text);
}
.krds-badge.bg-information {
  background-color: var(--krds-badge--color-information-element);
  color: var(--krds-badge--color-text-basic);
}
.krds-badge.bg-light-information {
  background-color: var(--krds-badge--color-information-element-lighter);
  color: var(--krds-badge--color-information-text);
}
.krds-badge.outline-disabled {
  border-width: var(--krds-light-border-width-variable-regular);
  border-style: solid;
  border-color: var(--krds-badge--light-color-disabled-element);
  color: var(--krds-badge--color-disabled-text);
}
.krds-badge.bg-disabled {
  background-color: var(--krds-badge--color-disabled-element);
  color: var(--krds-badge--color-text-basic);
}
.krds-badge.bg-light-disabled {
  background-color: var(--krds-badge--color-disabled-element-lighter);
  color: var(--krds-badge--color-disabled-text);
}
.krds-badge.bg-warning {
  color: var(--krds-badge--color-text-warning);
}
.krds-badge {
  height: var(--krds-badge--size-height);
  line-height: var(--krds-badge--line-height);
  font-size: var(--krds-badge--pc-font-size);
  font-weight: var(--krds-font-weight-regular);
  padding: 0 var(--krds-badge--padding);
  border-radius: var(--krds-badge--radius);
}
.krds-badge.large {
  height: var(--krds-badge--size-height-large);
  font-size: var(--krds-badge--pc-font-size-large);
}
.krds-badge.number {
  height: var(--krds-badge--number-size-height);
  border-radius: var(--krds-badge--radius-max);
}
.krds-badge.dot {
  width: var(--krds-badge--dot-size);
  height: var(--krds-badge--dot-size);
  padding: var(--krds-badge--dot-padding);
  border-radius: var(--krds-badge--radius-max);
}

.krds-badge-wrap {
  --krds-badge--wrap-gap: var(--krds-gap-3);
  display: flex;
  gap: var(--krds-badge--wrap-gap);
}
.krds-badge-wrap ~ .krds-badge-wrap {
  margin-top: 20px;
}
