
/* 배지 */
.krds-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.krds-badge.outline-primary {
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  color: blue;
}
.krds-badge.bg-primary {
  background-color: blue;
  color: white;
}
.krds-badge {
  height: 24px;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  padding: 0 8px;
  border-radius: 4px;
}
.krds-badge.large {
  height: 32px;
  font-size: 15px;
}
.krds-badge.number {
  height: 20px;
  border-radius: 100px;
}

.krds-badge-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
