
/* 배지 */
.krds-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.krds-badge.outline-primary {
  border-width: var(--krds-light-border-width-variable-regular);
  border-style: solid;
  border-color: var(--krds-badge--color-primary-element);
  color: var(--krds-badge--color-primary-text);
}
.krds-badge.bg-primary {
  background-color: var(--krds-badge--color-primary-element);
  color: var(--krds-badge--color-text-basic);
}
.krds-badge.bg-light-primary {
  background-color: var(--krds-badge--color-primary-element-lighter);
  color: var(--krds-badge--color-primary-text);
}
.krds-badge {
  height: var(--krds-badge--size-height);
  line-height: var(--krds-badge--line-height);
  font-size: var(--krds-badge--pc-font-size);
  font-weight: var(--krds-font-weight-regular);
  padding: 0 var(--krds-badge--padding);
  border-radius: var(--krds-badge--radius);
}
.krds-badge.large {
  height: var(--krds-badge--size-height-large);
  font-size: var(--krds-badge--pc-font-size-large);
}
.krds-badge.number {
  height: var(--krds-badge--number-size-height);
  border-radius: var(--krds-badge--radius-max);
}
.krds-badge.dot {
  width: var(--krds-badge--dot-size);
  height: var(--krds-badge--dot-size);
  padding: var(--krds-badge--dot-padding);
  border-radius: var(--krds-badge--radius-max);
}

.krds-badge-wrap {
  --krds-badge--wrap-gap: var(--krds-gap-3);
  display: flex;
  gap: var(--krds-badge--wrap-gap);
}
.krds-badge-wrap ~ .krds-badge-wrap {
  margin-top: 20px;
}
