
.form-group .form-conts.calendar-conts {
  gap: 0;
}

/* 날짜선택 */
.calendar-input {
  position: relative;
  z-index: 1;
  width: 100%;
}
.calendar-input .krds-input {
  padding-right: 64px;
  background-image: none;
}
.calendar-input .krds-btn {
  position: absolute;
  top: 50%;
  right: var(--krds-padding-7);
  transform: translateY(-50%);
}
.calendar-input .range::after {
  display: none;
}


/* 달력 */
.krds-calendar-area {
  display: none;
  position: relative;
  z-index: 1000;
  width: 100%;
}
.krds-calendar-area .calendar-wrap {
  position: absolute;
  top: 0.8rem;
  left: 0;
  width: 38.4rem;
  background-color: var(--krds-calendar--color-surface);
  border: 1px solid var(--krds-calendar--color-border);
  border-radius: var(--krds-calendar--radius);
  overflow: hidden;
}
.krds-calendar-area .calendar-wrap.bottom {
  top: auto;
  bottom: 6.4rem;
}
.krds-calendar-area .calendar-wrap .calendar-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: var(--krds-padding-8);
  font-size: var(--krds-calendar--head-pc-font-size);
  font-weight: var(--krds-font-weight-bold);
  gap: var(--krds-gap-5);
}
.krds-calendar-area .calendar-wrap .calendar-head .btn-cal-move {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: var(--krds-calendar--head-btn-cal-move-size);
  height: var(--krds-calendar--head-btn-cal-move-size);
  background-color: var(--krds-calendar--head-btn-cal-move-color-action);
  border: 1px solid var(--krds-calendar--head-btn-cal-move-color-border);
  border-radius: var(--krds-radius-max);
  flex-shrink: 0;
}
.krds-calendar-area .calendar-wrap .calendar-head .btn-cal-move::before {
  content: "";
  display: inline-flex;
  width: var(--krds-size-height-3);
  height: var(--krds-size-height-3);
  background-color: var(--krds-light-color-text-basic);
  forced-color-adjust: none;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/ico_angle.svg);
  mask-image: url(../../img/component/icon/ico_angle.svg);
  transform: rotate(90deg);
}
.krds-calendar-area .calendar-wrap .calendar-head .btn-cal-move.next::before {
  transform: rotate(-90deg);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: var(--krds-gap-2);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .btn-cal-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: var(--krds-gap-2);
  height: var(--krds-size-height-6);
  border-radius: var(--krds-calendar--head-btn-cal-switch-radius);
  padding: 0 var(--krds-padding-3);
  transition: var(--krds-transition-base);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .btn-cal-switch::after {
  content: "";
  display: inline-flex;
  width: var(--krds-icon--size-small);
  height: var(--krds-icon--size-small);
  background-color: var(--krds-light-color-text-basic);
  forced-color-adjust: none;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/ico_arrow_dropdown.svg);
  mask-image: url(../../img/component/icon/ico_arrow_dropdown.svg);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .btn-cal-switch:hover {
  background-color: var(--krds-calendar--head-btn-cal-switch-color-action-hover);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .btn-cal-switch:focus, .krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .btn-cal-switch:active, .krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .btn-cal-switch.active {
  background-color: var(--krds-calendar--head-btn-cal-switch-color-action-active);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .btn-cal-switch:disabled {
  cursor: default;
  color: var(--krds-calendar--head-btn-cal-switch-color-text-disabled);
  background-color: var(--krds-calendar--action-btn-wrap-color-surface);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .btn-cal-switch:disabled::after {
  background-color: var(--krds-calendar--head-btn-cal-switch-color-text-disabled);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .calendar-drop-down {
  --krds-calendar-drop-down-btn-height: var(--krds-size-height-6);
  position: relative;
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .calendar-drop-down .calendar-select {
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: calc(100% + 0.4rem);
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 14rem;
  max-height: calc(var(--krds-calendar-drop-down-btn-height) * 6 + var(--krds-padding-3) * 2);
  border: 1px solid var(--krds-calendar--action-btn-wrap-color-border);
  background-color: var(--krds-calendar--action-btn-wrap-color-surface);
  border-radius: var(--krds-radius-medium4);
  padding: var(--krds-padding-3);
  transition: var(--krds-transition-base);
  box-shadow: var(--krds-calendar--head-drop-down-shadow);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .calendar-drop-down .calendar-select.active {
  visibility: visible;
  z-index: auto;
  opacity: 1;
  z-index: 10;
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .calendar-drop-down .calendar-select .sel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .calendar-drop-down .calendar-select .sel li {
  width: 100%;
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .calendar-drop-down .calendar-select .sel button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: var(--krds-calendar-drop-down-btn-height);
  border-radius: var(--krds-radius-medium1);
  font-size: var(--krds-calendar--head-btn-cal-switch-pc-font-size);
  font-weight: var(--krds-font-weight-regular);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .calendar-drop-down .calendar-select .sel button:hover {
  background-color: var(--krds-calendar--head-btn-cal-switch-color-action-hover);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .calendar-drop-down .calendar-select .sel button:focus, .krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .calendar-drop-down .calendar-select .sel button:active {
  background-color: var(--krds-calendar--head-btn-cal-switch-color-action-active);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .calendar-drop-down .calendar-select .sel button.active {
  color: var(--krds-calendar--head-btn-cal-move-color-text-active);
  border: 1px solid var(--krds-calendar--head-btn-cal-move-color-border-active);
  background-color: var(--krds-calendar--action-btn-wrap-color-surface);
}
.krds-calendar-area .calendar-wrap .calendar-head .calendar-switch-wrap .calendar-drop-down .calendar-select .sel button:disabled {
  cursor: default;
  color: var(--krds-calendar--head-btn-cal-switch-color-text-disabled);
  background-color: var(--krds-calendar--action-btn-wrap-color-surface);
}
.krds-calendar-area .calendar-wrap .calendar-body {
  position: relative;
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap {
  padding: 0 var(--krds-calendar--table-wrap-padding);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl caption {
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
  clip: auto !important;
  text-align: left;
  top: 4.6rem;
  left: var(--krds-calendar--table-wrap-padding);
  color: var(--krds-calendar--color-text-sub);
  font-weight: var(--krds-font-weight-bold);
  font-size: var(--krds-calendar--table-caption-pc-font-size);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl th,
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td {
  width: 14.2857142857%;
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl th {
  padding-bottom: 4.6rem;
  font-weight: var(--krds-font-weight-regular);
  font-size: var(--krds-calendar--table-head-pc-font-size);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td {
  padding: var(--krds-padding-1) 0;
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td > button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  width: 44px;
  height: 44px;
  margin-inline: auto;
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td > button span {
  z-index: 1;
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td > button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: var(--krds-calendar--set-date-radius);
  transition: var(--krds-transition-base);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td .btn-set-date:focus {
  z-index: 1;
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td:not(.period, .old, .new, .disabled) .btn-set-date:hover::after {
  background-color: var(--krds-calendar--date-set-color-action-period);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td:not(.period, .old, .new, .disabled) .btn-set-date:focus::after, .krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td:not(.period, .old, .new, .disabled) .btn-set-date:active::after {
  background-color: var(--krds-calendar--date-set-color-action-pressed);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.today .btn-set-date span {
  position: relative;
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.today .btn-set-date span::before {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--krds-radius-max);
  background-color: var(--krds-calendar--date-set-color-element-today);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.day-event .btn-set-date {
  color: var(--krds-calendar--date-set-color-text-day-event);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.day-event .btn-set-date span {
  position: relative;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.day-event .btn-set-date span::before {
  position: absolute;
  bottom: -38%;
  left: 50%;
  transform: translateX(-50%);
  content: "이벤트";
  font-size: 1rem;
  font-weight: var(--krds-font-weight-bold);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.day-off {
  color: var(--krds-calendar--date-set-color-text-day-off);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.old, .krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.new, .krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.disabled {
  color: var(--krds-calendar--date-set-color-text-disabled);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.old button, .krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.new button, .krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.disabled button {
  cursor: default;
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.period .btn-set-date {
  background-color: var(--krds-calendar--date-set-color-action-period);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.period.start > .btn-set-date, .krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.period.end > .btn-set-date {
  background-color: var(--krds-calendar--date-set-color-action);
  color: var(--krds-calendar--date-set-color-text);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.period.start > .btn-set-date {
  border-top-left-radius: var(--krds-calendar--set-date-radius);
  border-bottom-left-radius: var(--krds-calendar--set-date-radius);
}
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.period.end > .btn-set-date {
  border-top-right-radius: var(--krds-calendar--set-date-radius);
  border-bottom-right-radius: var(--krds-calendar--set-date-radius);
}
.krds-calendar-area .calendar-wrap .calendar-footer {
  margin-top: var(--krds-calendar--table-wrap-padding);
}
.krds-calendar-area .calendar-wrap .calendar-footer .calendar-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: var(--krds-gap-3);
  padding: var(--krds-padding-6) var(--krds-padding-8);
  border-top: 1px solid var(--krds-calendar--action-btn-wrap-color-border);
  background-color: var(--krds-calendar--action-btn-wrap-color-surface);
}
.krds-calendar-area .calendar-wrap .calendar-footer .calendar-btn-wrap .krds-btn:first-child {
  margin-right: auto;
}
.krds-calendar-area .calendar-wrap:not(.single) .calendar-body .calendar-table-wrap .calendar-tbl {
  --krds-calendar--after-size: calc(100% - var(--krds-padding-1) * 2);
}
.krds-calendar-area .calendar-wrap:not(.single) .calendar-body .calendar-table-wrap .calendar-tbl td {
  position: relative;
}
.krds-calendar-area .calendar-wrap:not(.single) .calendar-body .calendar-table-wrap .calendar-tbl td::after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 100%;
  height: var(--krds-calendar--after-size);
  transform: translateY(-50%);
}
.krds-calendar-area .calendar-wrap:not(.single) .calendar-body .calendar-table-wrap .calendar-tbl td.period::after {
  background-color: var(--krds-calendar--date-set-color-action-period);
}
.krds-calendar-area .calendar-wrap:not(.single) .calendar-body .calendar-table-wrap .calendar-tbl td.start::after {
  background-color: var(--krds-calendar--date-set-color-action);
  border-top-left-radius: var(--krds-calendar--set-date-radius);
  border-bottom-left-radius: var(--krds-calendar--set-date-radius);
  width: var(--krds-calendar--after-size);
  height: var(--krds-calendar--after-size);
  right: 0;
  left: unset;
}
.krds-calendar-area .calendar-wrap:not(.single) .calendar-body .calendar-table-wrap .calendar-tbl td.end::after {
  background-color: var(--krds-calendar--date-set-color-action);
  border-top-right-radius: var(--krds-calendar--set-date-radius);
  border-bottom-right-radius: var(--krds-calendar--set-date-radius);
  width: var(--krds-calendar--after-size);
  height: var(--krds-calendar--after-size);
}
.krds-calendar-area .calendar-wrap:not(.single) .calendar-body .calendar-table-wrap .calendar-tbl td.period.start.end::after {
  display: none;
}
.krds-calendar-area.active {
  display: block;
}
