<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/html/resources/css/reset.css">
  <link rel="stylesheet" href="/html/resources/css/base.css">
  <link rel="stylesheet" href="/html/resources/css/component/badge.css">
  <!-- <Link rel="stylesheet" href="/base/krds-uiux-1.0.6/resources/css/common/common.css"> -->
  <!-- <Link rel="stylesheet" href="/base/krds-uiux-1.0.6/resources/css/component/component.css"> -->
</head>

<body>
  <style>
    .krds-badge-content {
      width: 130px;
    }

    .krds-badge-wrap~.krds-badge-wrap {
      margin-top: 20px;
    }
  </style>
  <div class="container">
    <div class="content">
      <!-- badge -->
      <div class="krds-badge-wrap">
        <div class="krds-badge-content">
          <h6>outline badge</h6><span class="krds-badge outline-primary">Label</span>
        </div>
        <div class="krds-badge-content">
          <h6>filled badge</h6><span class="krds-badge bg-primary">Label</span>
        </div>
        <div class="krds-badge-content">
          <h6>outline large badge</h6><span class="krds-badge large outline-primary">Label</span>
        </div>
        <div class="krds-badge-content">
          <h6>filled large badge</h6><span class="krds-badge large bg-primary">Label</span>
        </div>
        <div class="krds-badge-content">
          <h6>numbering badge</h6><span class="krds-badge bg-primary number">5</span>
        </div>
        <div class="krds-badge-content">
          <h6>numbering badge 999+</h6><span class="krds-badge bg-primary number">999+</span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>