<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/html/resources/css/reset.css">
  <link rel="stylesheet" href="/html/resources/css/base.css">
  <link rel="stylesheet" href="/html/resources/css/component/button.css">
  <!-- <Link rel="stylesheet" href="/base/krds-uiux-1.0.6/resources/css/common/common.css"> -->
  <!-- <Link rel="stylesheet" href="/base/krds-uiux-1.0.6/resources/css/component/component.css"> -->
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="content__area">
        <h4 class="content__title">기본</h4>
        <div class="example">
          <!-- link -->
          <a href="https://www.site_name.com/" class="krds-btn small link" target="_blank" title="새 창 열림">
            <span class="underline">기본 링크</span>
            <i class="svg-icon ico-go"></i>
          </a>
          <a href="#!" class="krds-btn medium link pure">
            <span class="underline">가상클래스 상태 시 컬러 유지</span>
          </a>
          <a href="#!" class="krds-btn large link basic" target="_blank" title="새 창 열림">
            <span class="underline">본문 텍스트 컬러 링크</span>
            <i class="svg-icon ico-go"></i>
          </a>
          <a href="#!" class="krds-btn large link basic">
            <span class="underline hidden-underline">가상클래스 상태 시 밑줄</span>
          </a>
          <a href="#!" class="krds-btn large link basic">
            <span>밑줄 없음</span>
          </a>
          <!-- //link -->
        </div>
      </div>
      <div class="content__area">
        <h4 class="content__title">비활성화</h4>
        <div class="example">
          <!-- link -->
          <a href="https://www.site_name.com/" class="krds-btn small link disabled" target="_blank" title="새 창 열림" disabled>
            <span class="underline">기본 링크</span>
            <i class="svg-icon ico-go"></i>
          </a>
          <a href="#!" class="krds-btn medium link pure disabled" disabled>
            <span class="underline">가상클래스 상태 시 컬러 유지</span>
          </a>
          <a href="#!" class="krds-btn large link basic disabled" target="_blank" title="새 창 열림" disabled>
            <span class="underline">본문 텍스트 컬러 링크</span>
            <i class="svg-icon ico-go"></i>
          </a>
          <a href="#!" class="krds-btn large link basic disabled" disabled>
            <span class="underline hidden-underline">가상클래스 상태 시 밑줄</span>
          </a>
          <a href="#!" class="krds-btn large link basic disabled" disabled>
            <span>밑줄 없음</span>
          </a>
          <!-- //link -->
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/html/resources/js/component/button.js"></script>

</html>