.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 50vw;
  max-height: 90vh;
  padding-bottom: 60px;
}
.content__area {
  margin-top: 40px;
}
.content__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.example {
  background-color: #ffffff;
  border: 1px solid #b1b8be;
  border-radius: 12px;
  padding: 56px 46px 55px;
}
